<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h1>Overview Page</h1>
<h2>My Reservations</h2>
<tr th:each="reser : ${reservations}">
    <td th:text="${reser.courtId}">reservation info</td>&nbsp;
    <td th:text="${reser.beginTime}">reservation info</td>&nbsp;
    <td th:text="${reser.EndTime}">reservation info</td>
    <br>
</tr>
<h2>My Appointments</h2>
<h2>My Courses</h2>
<h2>Who Reserves most ?</h2>
<tr th:each="instance : ${star}">
    <td th:text="${instance.key}">keyvalue</td>
    <td th:text="${instance.value}">num</td>
    <br>
</tr>
</body>
</html>