.SportSelection {
    text-align: center;
    width:99%;
    position: absolute;
    top: 150px;
    left: 20px;
   
}
.CourtSelecton {
    text-align: center;
    width:99%;
    position: absolute;
    top: 150px;
    left: 200px;
   
}
.Header {
    text-align: center;
    height: 500px;
    position: absolute;
    top: 80px;
    left: 600px;
}
.reservationcard {
    display: inline-block;
    width:20% !important;
    margin: 20px;
    position: relative;
    top: 150px;
    left:0px;
}
