.HobbySelection {
    text-align: center;
    width:10%;
    position: absolute;
    top: 900px;
    left: 1420px;
   
}
.MateSelection {
    text-align: center;
    width:10%;
    position: absolute;
    top: 900px;
    left: 1280px;
   
}
.TypeSelection {
    text-align: center;
    width:20%;
    position: absolute;
    top: 900px;
    left: 380px;
   
}
.Header {
    text-align: center;
    height: 500px;
    position: absolute;
    top: 80px;
    left: 750px;
}
.reservationcard {
    display: inline-block;
    width:20% !important;
    margin: 20px;
    position: relative;
    top: 150px;
    left:0px;
}
.courseList {
    display: inline-block;
    width: 60%;
    height: 40px;
    position: relative;
    top: -40px;
    left: 100px;
}
.courseTitle{
    display: inline-block;
    width: 30%;
    position: relative;
    top: 10px;
    left: 290px;
}
.courseRating {
    display: inline-block;
    width: 5%;
    position: relative;
    top: 10px;
    left: 850px;
}
.courseLink{
    display: inline-block;
    width: 5%;
    position: relative;
    top: 10px;
    left: 950px;
}
